@black: #000000;
@white: #ffffff;

@blue:  #00aef1;
@grey:  #fefefe;


#uploadPreview {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 20px 0;

    &:hover {
        opacity: 0.8;
    }
}
#uploadImage {
    display: none;
}
#uploadButton {
    padding: 10px 15px;
    min-width: 200px;

    background: @blue;
    border: 1px solid @grey;
    border-radius: 5px;
    color: @white;

    &:hover {
        cursor: pointer;
        background: darken(@blue, 5%);
    }
}

body {
    text-align: center;
    display: block;
    margin: 0 auto;
}